name: OpenFAST Windows Intel build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    # -------------------------
    # Install Intel oneAPI
    # -------------------------
    - name: Install Intel oneAPI Fortran
      uses: intel/setup-oneapi@v1
      with:
        components: >
          intel-oneapi-compiler-fortran
          intel-oneapi-compiler-dpcpp-cpp

    # -------------------------
    # Setup MSVC environment
    # -------------------------
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    # -------------------------
    # Configure
    # -------------------------
    - name: Configure CMake
      shell: pwsh
      run: |
        mkdir build
        cd build

        cmake .. `
          -G "NMake Makefiles" `
          -DCMAKE_BUILD_TYPE=Release `
          -DBUILD_SHARED_LIBS=OFF `
          -DCMAKE_Fortran_COMPILER=ifx `
          -DCMAKE_C_COMPILER=cl `
          -DCMAKE_CXX_COMPILER=cl

    # -------------------------
    # Build
    # -------------------------
    - name: Build
      shell: pwsh
      run: |
        cd build
        cmake --build . --config Release --parallel

    # -------------------------
    # Upload exe
    # -------------------------
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: openfast-windows-intel
        path: build/**/*.exe
